h1{
	text-align: center;
	font-weight: 800;
	margin: 20px 0;
}
h5{
	font-weight: 800;
}
table {
    border-collapse: collapse;
    width: 100%;
    min-width: 815px;
    border: 1px solid #000;

}

th, td {
	padding: 2px 2px;
	font-size: 0.75rem;
    text-align: center;
    border: 1px solid #000;
}

p{
	margin:0; 
}
.head{
	position: absolute;
	font-size: 1rem;
}
.сirculation{
	right: 5px;
}
.density{
	bottom: 0;
}
.bg_line img{
	width: 100px;
}
.bg_line{
	position: relative;
}

tr:nth-of-type(odd):not(:first-child)  {background-color: rgb(191, 246, 191);}
.table__item{
	font-weight: 800;
	background-color: #fff;
}
.table_overflow	{
    	overflow-x:scroll;
    	 
    }
    .table_overflow::-webkit-scrollbar{
    	height: 20px;
    }
    .table_overflow::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 0.5em;

}
/*.table_overflow::-webkit-scrollbar-button:single-button {
    background-color: grey;
    display: block;
    background-size: 20px;

}*/
@media  (max-width: 768px) {
    
  }